@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap");

.outerContainer {
  background: #ececec;
  height: 98vh;
  display: grid !important;
  grid-template-columns: 160px 1fr 1fr 1fr;
  grid-template-rows: 80px 80px 1fr 1fr 1fr 1fr 80px;
  gap: 30px;
  grid-template-areas:
    "Nav Nav Nav Nav"
    "Sidebar Header Header Header"
    "Sidebar Metrics Metrics Usage"
    "Sidebar Metrics Metrics Usage"
    "Sidebar Charts Charts Errors"
    "Sidebar Charts Charts Errors"
    "Footer Footer Footer Footer";
  padding: 30px;
}

/* Center CSS */

.Header,
.Metrics,
.Usage,
.Charts,
.Errors,
.Sidebar,
.Footer {
  font-family: Roboto;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: whitesmoke;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.2),
    -9px -9px 16px rgba(255, 255, 255, 0.3);
}

.Nav {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . .";
  grid-area: Nav;
  border-radius: 20px;
  background: whitesmoke;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.2),
    -9px -9px 16px rgba(255, 255, 255, 0.3);
}

.Logo {
  font-family: Roboto;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.Login {
  background: #efc9ef;
  padding: 10px;
  color: white;
  font-family: Roboto;
  font-weight: 300;
  letter-spacing: 2px;
  margin-right: 20px;
  border-radius: 15px;
}

.ButtonContainer {
  display: flex;
  justify-self: flex-end;
}

.LumosButton {
  font-family: Roboto;
  font-weight: 300;
  letter-spacing: 2px;
  background-color: white !important;
  display: grid !important;
  justify-self: center;
  align-self: center;
  height: 45px;
  margin-right: 20px !important;
  border-radius: 25px !important;
  padding: 0px 40px !important;
}

.LoginModal {
  margin: auto;
  display: grid;
  justify-self: center;
  align-self: center;
  text-align: center;
  background: white;
  height: 50vh;
  width: 85vw;
}

.Header {
  grid-area: Header;
}
.Metrics {
  grid-area: Metrics;
}
.Usage {
  grid-area: Usage;
}
.Charts {
  grid-area: Charts;
}
.Errors {
  grid-area: Errors;
}
.Sidebar {
  grid-area: Sidebar;
}
.Footer {
  grid-area: Footer;
}
