.outerContainer {
  background: white;
  height: 98vh;
  display: grid !important;
  grid-template-columns: 160px 1fr 1fr 1fr;
  grid-template-rows: 80px 80px 1fr 1fr 1fr 1fr 80px;
  gap: 15px;
  grid-template-areas:
    "Nav Nav Nav Nav"
    "Sidebar Header Header Header"
    "Sidebar Metrics Metrics Usage"
    "Sidebar Metrics Metrics Usage"
    "Sidebar Charts Charts Errors"
    "Sidebar Charts Charts Errors"
    "Footer Footer Footer Footer";
}

.Nav {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . .";
  grid-area: Nav;
  border-radius: 15px;
  box-shadow: 1px 0px 15px #00000020;
  align-self: center;
}
.Header {
  display: grid;
  grid-template-columns: 1fr 160px;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
  grid-area: Header;
  background: whitesmoke;
  border-radius: 15px;
  box-shadow: 1px 0px 15px #00000020;
}
.Metrics {
  grid-area: Metrics;
  background: whitesmoke;
  border-radius: 15px;
  box-shadow: 1px 0px 15px #00000020;
}
.Usage {
  grid-area: Usage;
  background: whitesmoke;
  border-radius: 15px;
  box-shadow: 1px 0px 15px #00000020;
}
.Charts {
  grid-area: Charts;
  background: whitesmoke;
  border-radius: 15px;
  box-shadow: 1px 0px 15px #00000020;
}
.Errors {
  grid-area: Errors;
  background: whitesmoke;
  border-radius: 15px;
  box-shadow: 1px 0px 15px #00000020;
}
.Sidebar {
  grid-area: Sidebar;
  background: whitesmoke;
  border-radius: 15px;
  box-shadow: 1px 0px 15px #00000020;
}
.Footer {
  grid-area: Footer;
  box-shadow: 1px 0px 15px #00000020;
}

.loginForm {
  display: flex;
  max-height: 55px;
  justify-self: right;
}
