@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap");

.outerContainer {
  background: #ececec;
  height: 98vh;
  display: grid !important;
  grid-template-columns: 160px 1fr 1fr 1fr;
  grid-template-rows: 80px 80px 1fr 1fr 1fr 1fr 80px;
  gap: 30px;
  grid-template-areas:
    "Nav Nav Nav Nav"
    "Sidebar Header Header Header"
    "Sidebar Metrics Metrics Usage"
    "Sidebar Metrics Metrics Usage"
    "Sidebar Charts Charts Errors"
    "Sidebar Charts Charts Errors"
    "Footer Footer Footer Footer";
  padding: 30px;
}

/* Center CSS */

.Header,
.Usage,
.Charts,
/* .Errors, */
.Sidebar,
.Footer {
  font-family: Roboto;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: whitesmoke;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.2),
    -9px -9px 16px rgba(255, 255, 255, 0.3);
  height: 100%;
}

.Nav {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . .";
  grid-area: Nav;
  border-radius: 20px;
  background: whitesmoke;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.2),
    -9px -9px 16px rgba(255, 255, 255, 0.3);
}

.Logo {
  font-family: Roboto;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.lumosLogo {
  height: 80%;
  width: 80%;
}

.Login {
  background: #efc9ef;
  padding: 10px;
  color: white;
  font-family: Roboto;
  font-weight: 300;
  letter-spacing: 2px;
  margin-right: 20px;
  border-radius: 15px;
}

.ButtonContainer {
  display: flex;
  justify-self: flex-end;
}

.LumosButton {
  font-family: Roboto !important;
  font-weight: 300 !important;
  letter-spacing: 2px !important;
  background-color: white !important;
  display: grid !important;
  justify-self: center !important;
  align-self: center !important;
  height: 45px !important;
  margin-right: 20px !important;
  border-radius: 25px !important;
  padding: 0px 40px !important;
  box-shadow: 1px 0px 20px #c977df30;
}

.LumosButton:hover {
  box-shadow: 1px 0px 20px #c977df8a;
  transition: 1.5s;
}

.timeButtonContainer {
  display: flex;
}

.LoginModal {
  margin: auto;
  display: grid;
  justify-self: center;
  align-self: center;
  text-align: center;
  background: white;
  height: 50vh;
  width: 85vw;
}

.usageChartContainer {
  height: 85%;
  width: 42vh;
}

.latencyChartContainer {
  height: 85%;
  width: 80vh;
}

.Header {
  grid-area: Header;
}
.Metrics {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  grid-template-areas:
    "Active-Functions Total-Errors"
    "Avg-Cost Avg-Duration";
  grid-area: Metrics;
  font-family: Roboto;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.metricCard {
  font-family: Roboto;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: whitesmoke;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.2),
    -9px -9px 16px rgba(255, 255, 255, 0.3);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "Stats Stats cardIcon";
  gap: 0px;
  height: 100%;
}

.iconWrapper {
  display: flex;
  max-height: 125px;
}

.metricContainer {
}

.cardStats {
  grid-area: Stats;
  justify-self: center;
}
.statsNumber,
.cardPercentage {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 2px;
}
.cardIcon {
  grid-area: cardIcon;
}

.Usage {
  grid-area: Usage;
}
.Charts {
  grid-area: Charts;
}
.Errors {
  grid-template-columns: 1fr;
  gap: 0px 0px;
  grid-area: Errors;
  font-family: Roboto;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: grid;
  border-radius: 20px;
  background-color: whitesmoke;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.2),
    -9px -9px 16px rgba(255, 255, 255, 0.3);
  height: 100%;
}

.errorsContainer {
  padding: 20px;
}

.errHeader {
  font-family: Roboto;
  font-weight: 300;
  font-size: 12px;
  margin: 0px 0px 10px 0px !important;
  padding: 6px 0px 6px 10px;
  box-shadow: 1px 0px 15px #00000015;
  border-radius: 15px;
}

.Errors.children {
  background-color: whitesmoke;
  height: 100%;
  overflow: scroll !important;
}

.ErrorsChildrenContainer {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
  margin: 0px !important;
  padding: 10px 0px !important;
}

.err {
  grid-area: err;
}
.start {
  grid-area: start;
}
.end {
  grid-area: end;
}
.type {
  grid-area: type;
}
.cost {
  grid-area: cost;
}
.rowErr {
  grid-area: rowErr;
}
.rowStart {
  grid-area: rowStart;
}
.rowEnd {
  grid-area: rowEnd;
}
.rowType {
  grid-area: rowType;
}
.rowCost {
  grid-area: rowCost;
}

.Sidebar {
  grid-area: Sidebar;
}

.sidebarMainIcon {
  background: white;
  padding: 50px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.Footer {
  grid-area: Footer;
}

/* Metric Cards CSS */

.Active-Functions {
  grid-area: Active-Functions;
}
.Total-Errors {
  grid-area: Total-Errors;
}
.Avg-Cost {
  grid-area: Avg-Cost;
}
.Avg-Duration {
  grid-area: Avg-Duration;
}
