.outerContainer {
  background: whitesmoke;
  height: 100vh;
  display: grid;
  grid-template-columns: 160px 1fr 1fr 1fr;
  grid-template-rows: 80px 80px 1fr 1fr 1fr 1fr 80px;
  gap: 0px 0px;
  grid-template-areas:
    "Nav Nav Nav Nav"
    "Sidebar Header Header Header"
    "Sidebar Metrics Metrics Usage"
    "Sidebar Metrics Metrics Usage"
    "Sidebar Charts Charts Errors"
    "Sidebar Charts Charts Errors"
    "Footer Footer Footer Footer";
}

.Nav {
  display: grid;
  grid-template-columns: 160px 1fr 160px;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . .";
  grid-area: Nav;
}
.Header {
  display: grid;
  grid-template-columns: 1fr 160px;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
  grid-area: Header;
}
.Metrics {
  grid-area: Metrics;
}
.Usage {
  grid-area: Usage;
}
.Charts {
  grid-area: Charts;
}
.Errors {
  grid-area: Errors;
}
.Sidebar {
  grid-area: Sidebar;
}
.Footer {
  grid-area: Footer;
}
